{% extends "base.html" %}

{% block list %}
<li>
    <a href="{{url_for('home')}}" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Account</a>
</li>
<li>
    <a href="{{url_for('about')}}" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
</li>
<li>
    <a href="{{url_for('logout')}}" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Logout</a>
</li>
{% endblock %}

{% block content %}
    <style>
        /* Hide arrows for number input fields */
        input.number-input {
        -moz-appearance: textfield;
        }

        input.number-input::-webkit-inner-spin-button,
        input.number-input::-webkit-outer-spin-button {
        -webkit-appearance: none; 
        margin: 0;
        }
    </style>
    <div class="flex flex-col justify-center">
        <div class="flex justify-center max-w-md w-full pt-6 pb-3 mx-auto">
            <h2 class="text-3xl text-center font-bold">{{ subdomain }}.{{ domain }}</h2>
        </div>
        <div class="flex flex-row bg-cover bg-gray-900 space-x-3 justify-center">
            <div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-md w-full m-6 mb-auto">
                <h2 class="text-3xl font-bold mb-6 text-center">Status</h2>
                <div class="flex justify-center align-center">
                    <h1 id="status-tag"></h1>
                </div>
            </div>
            <div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-lg w-full m-6">
                <h2 class="text-3xl font-bold mb-6 text-center">Actions</h2>
                <div class="flex justify-center">
                    <button id="restart-btn" class="disabled:bg-sky-700 bg-sky-500 hover:bg-sky-700 active:bg-sky-900 text-white py-2 px-5 rounded-l-full font-bold text-md transition duration-300">
                        Restart
                    </button>
                    <button id="shutdown-btn" class="disabled:bg-sky-700 bg-sky-500 hover:bg-sky-700 active:bg-sky-900 text-white py-2 px-5 font-bold text-md transition duration-300">
                        Shutdown
                    </button>
                    <button id="start-btn" class="disabled:bg-sky-700 bg-sky-500 hover:bg-sky-700 active:bg-sky-900 text-white py-2 px-5 rounded-r-full font-bold text-md transition duration-300">
                        Start
                    </button>
                </div>
            </div>
        </div>
        <div class="flex flex-row bg-cover bg-gray-900 space-x-3 justify-center">
            <div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-md w-full m-6 mb-auto">
                <h2 class="text-3xl font-bold mb-6 text-center">Server Properties</h2>
                <form class="space-y-3" action="" method="POST">
                    {{ form.hidden_tag() }}
                
                    <div>{{ form.allow_flight.label }} = {{ form.allow_flight }}</div>
                    <div>{{ form.allow_nether.label }} = {{ form.allow_nether }}</div>
                    <div>{{ form.difficulty.label }} = {{ form.difficulty }}</div>
                    <div>{{ form.enforce_whitelist.label }} = {{ form.enforce_whitelist }}</div>
                    <div>{{ form.gamemode.label }} = {{ form.gamemode }}</div>
                    <div>{{ form.hardcore.label }} = {{ form.hardcore }}</div>
                    <div>{{ form.level_name.label }} = {{ form.level_name }}</div>
                    <div>{{ form.level_seed.label }} = {{ form.level_seed }}</div>
                    <div>{{ form.level_type.label }} = {{ form.level_type }}</div>
                    <div>{{ form.max_players.label }} = {{ form.max_players }}</div>
                    <div>{{ form.motd.label }} = {{ form.motd }}</div>
                    <div>{{ form.pvp.label }} = {{ form.pvp }}</div>
                    <div>{{ form.simulation_distance.label }} = {{ form.simulation_distance }}</div>
                    <div>{{ form.view_distance.label }} = {{ form.view_distance }}</div>
                    <div>{{ form.white_list.label }} = {{ form.white_list }}</div>
                    
                    <div class="pt-3">{{ form.submit() }}</div>
                </form>
            </div>
            <div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-lg w-full m-6" id="commands-container">
                <h2 class="text-3xl font-bold mb-6 text-center">Commands</h2>
                <div class="flex flex-col">
                    <form class="py-2" action="" id="command-form" method="POST" name="">
                        {{ command_form.hidden_tag() }}
                    
                        <div>
                            Any Command {{ command_form.command }}
                            <button type="submit" class="bg-sky-500 hover:bg-sky-700 text-white py-2 px-5 rounded-r-lg font-bold text-md transition duration-300">Send</button>
                        </div>
                    </form>
                    <form class="py-2" action="" id="ban-form" method="POST" name="ban">
                        {{ command_form.hidden_tag() }}
                    
                        <div>
                            /ban {{ command_form.command }}
                            <button type="submit" class="bg-sky-500 hover:bg-sky-700 text-white py-2 px-5 rounded-r-lg font-bold text-md transition duration-300">Send</button>
                        </div>
                    </form>
                    <form class="py-2" action="" id="op-form" method="POST" name="op">
                        {{ command_form.hidden_tag() }}
                    
                        <div>
                            /op {{ command_form.command }}
                            <button type="submit" class="bg-sky-500 hover:bg-sky-700 text-white py-2 px-5 rounded-r-lg font-bold text-md transition duration-300">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex flex-row bg-cover bg-gray-900 space-x-3 justify-center">
            <div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-md w-full m-6 mb-auto">
                <h2 class="text-3xl font-bold mb-6 text-center">Other</h2>
                <form class="space-y-3" action="{{url_for('delete', subdomain=subdomain)}}" method="POST">
                    {{ delete_form.hidden_tag() }}                    
                    <div class="pt-3">{{ delete_form.submit() }}</div>
                </form>
            </div>
        </div>
    </div>
    <script>
        var commands_container = document.getElementById("commands-container")
        var restart_btn = document.getElementById("restart-btn")
        var shutdown_btn = document.getElementById("shutdown-btn")
        var start_btn = document.getElementById("start-btn")
        var status_tag = document.getElementById("status-tag")
        var command_form = document.getElementById("command-form")
        var op_form = document.getElementById("op-form")
        var ban_form = document.getElementById("ban-form")

        const forms = commands_container.querySelectorAll("form[id$='-form']"); // Selects all forms ending with '-form'

        forms.forEach(form => {
            form.addEventListener("submit", function(event) {
                event.preventDefault()
                var formdata = new FormData(this)
                formdata.set("type", this.name)

                fetch(`{{url_for('command', subdomain=subdomain)}}`, {
                    method: 'POST',
                    body: formdata,
                    headers: {
                    'Accept': 'application/json',
                    }   
                }).then(response => response.json()).then(data => {
                    this.command.value = ''
                    set_status(this, data.status)
                }).catch(error => {
                    console.log("Error occured while submitting command:", error)
                })
            })
        });

        function set_status(parentTag, status) {
            tag = document.createElement('p')
            tag.innerHTML = status
            parentTag.appendChild(tag)
        }

        restart_btn.addEventListener("click", async function(event) {
            disable_ui()
            try {
                const response = fetch(`{{url_for('restart', subdomain=subdomain)}}`)

                const data = await response.json

                await get_status()

                console.log("clicked restart")
            }
            catch (error) {
                console.log("Error", error)
            }
        });

        shutdown_btn.addEventListener("click", function(event) {
            disable_ui()
            fetch(`{{url_for('shutdown', subdomain=subdomain)}}`, {
                }).then(response => response.json()).then(data => {
                    get_status()
                    console.log("clicked shutdown")
                }).catch(error => console.error('Error', error));
        });

        start_btn.addEventListener("click", function(event) {
            disable_ui()
            fetch(`{{url_for('start', subdomain=subdomain)}}`, {
                }).then(response => response.json()).then(data => {
                    get_status()
                    console.log("clicked start")
                }).catch(error => console.error('Error', error));
        });

        // command_form.addEventListener("submit", function(event) {
        //     event.preventDefault();
        //     console.log("submitted");
        // })

        function disable_ui() {
            restart_btn.disabled = true;  
            start_btn.disabled = true;  
            shutdown_btn.disabled = true; 
        }

        function get_status() {
            fetch(`{{url_for('get_status', subdomain=subdomain)}}`, {
            }).then(response => response.json()).then(data => {
                set_status_ui(data.status)
                status_tag.innerHTML = data.show;
                
                status_tag.classList = "text-white py-2 px-5 rounded-full font-bold text-md transition duration-300 w-1/2 text-center"
                status_tag.classList.add(data.color);
            }).catch(error => console.error('Error', error));
        }

        function set_status_ui(status) {
            if (status == "unknown") {
                disable_ui()
            }

            if (status == "exited") {
                restart_btn.disabled = false;  
                start_btn.disabled = false;  
                shutdown_btn.disabled = true; 
            }

            if (status == "running") {
                restart_btn.disabled = false;  
                start_btn.disabled = true;  
                shutdown_btn.disabled = false;  
            }
        }

        get_status()
        setInterval(get_status, 3000)
    </script>
{% endblock %}