{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block list %}
<li>
    <a href="{{url_for('about')}}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
</li>
<li>
    <a href="{{url_for('logout')}}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Logout</a>
</li>
{% endblock %}

{% block main %}
<a href="{{url_for('create')}}" class="text-black">Create</a>
{% for server in servers %}
<a href="{{url_for('server', subdomain=server.subdomain)}}" class="text-black">{{server.subdomain}}</a><br>
{% endfor %}

<div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    {% block content %}
    {% endblock %}
</div>
{% endblock %}